@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.bggg {
  background-color: #fff9ee;
}
.navbar-brand {
  color: black !important;
}
.nav-link {
  color: black !important;
  font-weight: 600;
}
.navbar-toggler {
  color: black !important;
  border: none !important;
  padding: 0 !important;
}
